.parent {
    overflow-y: scroll;

    h2 {
        color: #4942E4;
        font-weight: bold;
    }
    .top-profil {
        h3 {
            color: #11009E;
        }

        .logout {
            background-color: #4942E4;
            border-top-left-radius: 8vmin;
            border-bottom-left-radius: 8vmin;
            a {
                font-size: 5vmin;
                color: #ffffff;
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                    color: #ffffff;
                }
            }
        }
    }

    #tambah {
        color: #ffffff;
        background-color: #9f80ff;
        border: none;
        outline: none !important;

        &:hover {
            cursor: pointer;
            background-color: #8c66ff;
        }

        &:visited {
            outline: none !important;
        }
    }

    .circle-btn {
        font-size: 2em;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    .all-pengumuman,
    .all-survey {
        border: 1px solid #9f80ff;
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
        overflow-y: scroll;
    }

}

